.navbar,
.nav-links {
  display: flex;
  flex-direction: row;
}

.navbar h3 {
  padding-right: 36%;
}

.nav-links {
  list-style: none;
  gap: 12px;
  padding: 6px;
}

.nav-links li a {
  text-decoration: none;
}

.navLogo {
  width: 62px;
  height: 62px;
  padding: 0 2% 0 2%;
}

.missionNav {
  border-right: 2px solid rgb(44, 44, 204);
  padding-right: 5px;
}